<div class="display-main-container">
    <div class="search-filter-container">
        <app-image-filter (onSelect)="filter($event)"></app-image-filter>
    </div>
    <div class="image-collection-container">
        <p-dataView #dv [value]="photos.photo" [lazy]="true" [totalRecords]="photos.total" [loading]="isLoading"
            (onLazyLoad)="loadNext($event)" [paginator]="true" [rows]="photos.perpage" layout="grid">
            <ng-template let-photo pTemplate="listItem">
                <span>List Under Development</span>
            </ng-template>
            <ng-template let-photo pTemplate="gridItem" let-i="rowIndex">
                <div class="img-card" tabindex="0" role="button" (click)="previewImage(photo, i)"
                    style="background-image:url('//live.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_n.jpg');">
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

<p-galleria [value]="photos.photo" [(visible)]="displayPreview" [containerStyle]="{'max-width': '850px'}"
    [(activeIndex)]="activeIndex" [numVisible]="10" [circular]="true" [fullScreen]="true" [showItemNavigators]="true"
    [showThumbnails]="false" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-photo>
        <img [src]="'//live.staticflickr.com/' + photo.server + '/' + photo.id + '_' + photo.secret + '_b.jpg'"
            style="width: 100%; display: block;" />
        <!-- <div>by {{photo.ownername}}</div> -->
    </ng-template>
    <!-- <ng-template pTemplate="thumbnail" let-photo>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="photo.smallImageUrl" style="display: block;" />
        </div>
    </ng-template> -->
</p-galleria>